In [1]:
import pandas as pd
import requests
from io import StringIO

In [4]:
violations = pd.read_csv('../data/hubNashville__311__Service_Requests.csv')

C:\Users\zylst\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

#Set API url
url = 'https://data.nashville.gov/resource/7qhx-rexh.csv'

#create request object
r = requests.get(url)

#convert to csv
covid_violations = pd.read_csv(StringIO(r.text))

covid_violations.info()

In [5]:
violations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479306 entries, 0 to 479305
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Request #                   479306 non-null  int64
 1   Status                      479306 non-null  object
 2   Request Type                478975 non-null  object
 3   Subrequest Type             475816 non-null  object
 4   Additional Subrequest Type  475665 non-null  object
 5   Date / Time Opened          479306 non-null  object
 6   Date / Time Closed          467913 non-null  object
 7   Request Origin              479306 non-null  object
 8   System of Origin ID         29204 non-null   object
 9   Contact Type                27446 non-null   object
 10  Preferred Language          0 non-null       float64
 11  State Issue                 479306 non-null  bool
 12  Parent Request              5122 non-null    float64
 13  Closed When Created         479306 non-null  bool
 14  Address                     372094 non-null  object
 15  City                        366461 non-null  object
 16  Council District            366297 non-null  float64
 17  ZIP                         366319 non-null  object
 18  Latitude                    371347 non-null  float64
 19  Longitude                   371347 non-null  float64
 20  Mapped Location             371347 non-null  object
dtypes: bool(2), float64(5), int64(1), object(13)
memory usage: 70.4+ MB

In [6]:
violations['Request Type'].unique()

array(['Trash, Recycling & Litter', 'Property Violations',
       'Streets, Roads & Sidewalks', 'Other', 'Transit',
       'Resolved by hubNashville on First Call',
       'Electric & Water General', 'Public Safety', 'Permits',
       'Police Chief Search', 'Parks', 'Planning & Zoning',
       'Social Services & Housing', 'COVID-19', 'Hands On Volunteers',
       'Storm Relief', 'Public Records Request', 'Quick Requests',
       'Workforce & Jobs', 'Education & Libraries',
       'Admin Support Request', nan, 'WIRES',
       'Submit Budget Ideas to Mayor Briley',
       'Consumer Protection Request', 'BRUSH'], dtype=object)

In [7]:
covid_only = violations[violations['Request Type']== 'COVID-19']
covid_only['Subrequest Type'].unique()

array(['COVID-19 Violations', 'COVID-19 Questions',
       'COVID-19 Guidance for Reopening Businesses',
       'COVID-19 - Submit Input about The Plan to Reopen Nashville', nan],
      dtype=object)

In [8]:
covid_only = covid_only[covid_only['Subrequest Type']== 'COVID-19 Violations']

In [9]:
covid_only['Address'].value_counts()

210 Anne Dallas Dudley Blvd    287
21B Fern Ave                   117
333 Commerce St                 51
5106 Old Hickory Blvd           51
221 Broadway                    47
                              ...
3804 Bedford Ave                 1
611 James Ave                    1
307 Broadway                     1
7061 US-70S                      1
318 Fesslers Ln                  1
Name: Address, Length: 4829, dtype: int64

In [10]:
covid_only.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11632 entries, 1547 to 479249
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Request #                   11632 non-null  int64
 1   Status                      11632 non-null  object
 2   Request Type                11632 non-null  object
 3   Subrequest Type             11632 non-null  object
 4   Additional Subrequest Type  11623 non-null  object
 5   Date / Time Opened          11632 non-null  object
 6   Date / Time Closed          11611 non-null  object
 7   Request Origin              11632 non-null  object
 8   System of Origin ID         0 non-null      object
 9   Contact Type                46 non-null     object
 10  Preferred Language          0 non-null      float64
 11  State Issue                 11632 non-null  bool
 12  Parent Request              1 non-null      float64
 13  Closed When Created         11632 non-null  bool
 14  Address                     11258 non-null  object
 15  City                        10653 non-null  object
 16  Council District            10686 non-null  float64
 17  ZIP                         10718 non-null  object
 18  Latitude                    11354 non-null  float64
 19  Longitude                   11354 non-null  float64
 20  Mapped Location             11354 non-null  object
dtypes: bool(2), float64(5), int64(1), object(13)
memory usage: 1.8+ MB

In [11]:
covid_only['Address'].value_counts()

210 Anne Dallas Dudley Blvd    287
21B Fern Ave                   117
333 Commerce St                 51
5106 Old Hickory Blvd           51
221 Broadway                    47
                              ...
3804 Bedford Ave                 1
611 James Ave                    1
307 Broadway                     1
7061 US-70S                      1
318 Fesslers Ln                  1
Name: Address, Length: 4829, dtype: int64

In [12]:
covid_only = covid_only.drop(columns=['System of Origin ID','Contact Type','Preferred Language','Parent Request']).reset_index()

In [13]:
covid_only.shape

(11632, 18)

In [14]:
covid_only['City'].value_counts()

NASHVILLE         8627
MADISON            582
ANTIOCH            470
HERMITAGE          431
GOODLETTSVILLE     207
OLD HICKORY        200
BRENTWOOD           50
JOELTON             43
WHITES CREEK        27
LAVERGNE             9
NOLENSVILLE          5
Nashville            1
LA VERGNE            1
Name: City, dtype: int64

In [15]:
covid_only[covid_only['City'] == 'Nashville']

,index,Request #,Status,Request Type,Subrequest Type,Additional Subrequest Type,Date / Time Opened,Date / Time Closed,Request Origin,State Issue,Closed When Created,Address,City,Council District,ZIP,Latitude,Longitude,Mapped Location
13,22299,361889,Closed,COVID-19,COVID-19 Violations,COVID-19 Violations,05/07/2020 06:57:32 PM,05/08/2020 05:08:50 PM,Phone,False,False,1297 Antioch Pike,Nashville,NaN,37211,NaN,NaN,NaN

In [16]:
covid_only.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11632 entries, 0 to 11631
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   index                       11632 non-null  int64
 1   Request #                   11632 non-null  int64
 2   Status                      11632 non-null  object
 3   Request Type                11632 non-null  object
 4   Subrequest Type             11632 non-null  object
 5   Additional Subrequest Type  11623 non-null  object
 6   Date / Time Opened          11632 non-null  object
 7   Date / Time Closed          11611 non-null  object
 8   Request Origin              11632 non-null  object
 9   State Issue                 11632 non-null  bool
 10  Closed When Created         11632 non-null  bool
 11  Address                     11258 non-null  object
 12  City                        10653 non-null  object
 13  Council District            10686 non-null  float64
 14  ZIP                         10718 non-null  object
 15  Latitude                    11354 non-null  float64
 16  Longitude                   11354 non-null  float64
 17  Mapped Location             11354 non-null  object
dtypes: bool(2), float64(3), int64(2), object(11)
memory usage: 1.4+ MB

In [17]:
covid_only.iloc[13,12] = covid_only.iloc[13,12].upper()

In [18]:
covid_only['City'].value_counts()

NASHVILLE         8628
MADISON            582
ANTIOCH            470
HERMITAGE          431
GOODLETTSVILLE     207
OLD HICKORY        200
BRENTWOOD           50
JOELTON             43
WHITES CREEK        27
LAVERGNE             9
NOLENSVILLE          5
LA VERGNE            1
Name: City, dtype: int64

In [19]:
covid_only[covid_only['City']=='LA VERGNE']

,index,Request #,Status,Request Type,Subrequest Type,Additional Subrequest Type,Date / Time Opened,Date / Time Closed,Request Origin,State Issue,Closed When Created,Address,City,Council District,ZIP,Latitude,Longitude,Mapped Location
9518,401452,442297,Closed,COVID-19,COVID-19 Violations,COVID-19 Violations,08/11/2020 02:50:02 PM,08/12/2020 03:47:37 PM,Phone,False,False,Firestone Pkwy & Old Hickory Blvd,LA VERGNE,33.0,37086,36.01689,-86.61985,"(36.01689, -86.61985)"

In [20]:
covid_only.iloc[9518,12] = 'LAVERGNE'

In [21]:
covid_only['City'].value_counts()

NASHVILLE         8628
MADISON            582
ANTIOCH            470
HERMITAGE          431
GOODLETTSVILLE     207
OLD HICKORY        200
BRENTWOOD           50
JOELTON             43
WHITES CREEK        27
LAVERGNE            10
NOLENSVILLE          5
Name: City, dtype: int64